In [10]:
## Loading the excel file

In [11]:
import pandas as pd

df=pd.read_excel("zepto orders Mycaptain.xlsx") 
df

,Order_ID,City,Category,Order_Date,Delivery_Time,Delivery_Mode,Order_Value,Delivery_Fee,Customer_Rating
0,10001,Hyderabad,Vegetables,2025-01-01 00:00:00,2025-01-01 02:02:00,Express,214.28,53.73,4
1,10002,Pune,Bakery,2025-01-01 01:00:00,2025-01-01 02:52:00,Express,184.49,36.74,3
2,10003,Hyderabad,Snacks,2025-01-01 02:00:00,2025-01-01 02:34:00,Express,445.94,24.40,4
3,10004,Delhi,Fruits,2025-01-01 03:00:00,2025-01-01 05:06:00,Express,323.36,18.50,5
4,10005,Bengaluru,Beverages,2025-01-01 04:00:00,2025-01-01 05:31:00,Express,1320.50,53.05,5
...,...,...,...,...,...,...,...,...,...
495,10496,Chennai,Fruits,2025-01-21 15:00:00,2025-01-21 16:59:00,Normal,129.32,59.16,2
496,10497,Chennai,Bakery,2025-01-21 16:00:00,2025-01-21 18:39:00,Normal,215.04,79.50,4
497,10498,Delhi,Fruits,2025-01-21 17:00:00,2025-01-21 19:46:00,Express,1455.00,19.20,3
498,10499,Delhi,Dairy,2025-01-21 18:00:00,2025-01-21 19:35:00,Express,513.62,29.23,5
499,10500,Pune,Beverages,2025-01-21 19:00:00,2025-01-21 19:28:00,Express,1176.91,37.62,2

In [12]:
##Converting date columns

In [9]:
df["Order_Date"] = pd.to_datetime(df["Order_Date"]) 
df["Delivery_Time"] = pd.to_datetime(df["Delivery_Time"])

df["Order_Date"]
df["Delivery_Time"]

0     2025-01-01 02:02:00
1     2025-01-01 02:52:00
2     2025-01-01 02:34:00
3     2025-01-01 05:06:00
4     2025-01-01 05:31:00
              ...
495   2025-01-21 16:59:00
496   2025-01-21 18:39:00
497   2025-01-21 19:46:00
498   2025-01-21 19:35:00
499   2025-01-21 19:28:00
Name: Delivery_Time, Length: 500, dtype: datetime64[ns]

In [ ]:
##Calculating delivery duration in minutes

In [14]:
df["Delivery_Duration"] = (df["Delivery_Time"] - df["Order_Date"]).dt.total_seconds() / 60
df["Delivery_Duration"]

0      122.0
1      112.0
2       34.0
3      126.0
4       91.0
       ...
495    119.0
496    159.0
497    166.0
498     95.0
499     28.0
Name: Delivery_Duration, Length: 500, dtype: float64

In [ ]:
##Average delivery time for each city

In [16]:
avg_city = df.groupby("City")["Delivery_Duration"].mean().reset_index()
print(avg_city)

        City  Delivery_Duration
0  Bengaluru         102.518519
1    Chennai          99.935484
2      Delhi          92.450000
3  Hyderabad         105.473684
4     Mumbai         109.795181
5       Pune         101.379310

In [17]:
##Average customer rating for each category

In [18]:
avg_rating = df.groupby("Category")["Customer_Rating"].mean().reset_index() 
print(avg_rating)

     Category  Customer_Rating
0      Bakery         3.097561
1   Beverages         2.741176
2       Dairy         2.883721
3      Fruits         3.122222
4      Snacks         3.057143
5  Vegetables         3.436782

In [19]:
## Total revenue (total order value) for each category

In [20]:
revenue = df.groupby("Category")["Order_Value"].mean().reset_index()
print(revenue)

     Category  Order_Value
0      Bakery   764.058902
1   Beverages   788.650824
2       Dairy   805.673372
3      Fruits   794.065000
4      Snacks   827.992571
5  Vegetables   794.881724

In [21]:
##Are Express deliveries faster than Normal deliveries

In [22]:
mode_compare = df.groupby("Delivery_Mode")["Delivery_Duration"].mean().reset_index() 
print(mode_compare)

  Delivery_Mode  Delivery_Duration
0       Express         101.902344
1        Normal         101.868852

In [23]:
##Average delivery fee for each category

In [24]:
avg_fee = df.groupby("Category")["Delivery_Fee"].mean().reset_index()
print(avg_fee)

     Category  Delivery_Fee
0      Bakery     44.784634
1   Beverages     44.260824
2       Dairy     46.896744
3      Fruits     43.829111
4      Snacks     45.467857
5  Vegetables     47.316782

In [25]:
###Total delivery fee collected by each city

In [27]:
city_fees = df.groupby("City")["Delivery_Fee"].mean().reset_index()
print(city_fees)

        City  Delivery_Fee
0  Bengaluru     45.007407
1    Chennai     46.851720
2      Delhi     42.986750
3  Hyderabad     45.992632
4     Mumbai     46.282410
5       Pune     45.206092

In [28]:
## Average customer rating by delivery mode

In [30]:
rating_mode = df.groupby("Delivery_Mode")["Customer_Rating"].mean().reset_index()
print(rating_mode)

  Delivery_Mode  Customer_Rating
0       Express         3.007812
1        Normal         3.110656

In [31]:
 ##Top-selling category

In [33]:
revenue_cat = df.groupby("Category")["Order_Value"].sum().reset_index() 
top_selling = revenue_cat.sort_values(by="Order_Value", ascending=False)

print(top_selling)

     Category  Order_Value
3      Fruits     71465.85
2       Dairy     69287.91
5  Vegetables     69154.71
1   Beverages     67035.32
0      Bakery     62652.83
4      Snacks     57959.48

In [ ]:
##Fastest and slowest categories

In [35]:
speed_cat = df.groupby("Category")["Delivery_Duration"].mean().reset_index() 
sorted_speed = speed_cat.sort_values(by="Delivery_Duration")

print(sorted_speed)

     Category  Delivery_Duration
3      Fruits          95.355556
4      Snacks          96.942857
5  Vegetables         100.574713
0      Bakery         102.268293
2       Dairy         105.581395
1   Beverages         110.105882